@charset "utf8";

img{display: block;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
    margin-bottom: 0px;
}
.bx-wrapper .bx-pager {
    bottom: 30px;}


/*header*/
header#main_hd{height: 1895px;position: relative;}
header#main_hd .bg_slider .slider{
	 background-color: #ff0;}
header#main_hd .bg_slider img{width: 100%;}
.bg_slider .slider li{height: 900px;}
.bg_slider .slider li .txtWrap{
			position: absolute; top:300px; left:20%;
			width: 400px; height: 200px;
			color:#333132;
		}
.bg_slider .slider li .circle{
	width: 200px;height: 200px; border-radius: 100px;
	position: absolute; top:180px;left:15%;
}
.bg_slider .slider li.cc_1st .circle{background-color: #278dd5;}
.bg_slider .slider li.cc_2nd .circle{background-color: #feec4e;}
.bg_slider .slider li.cc_3rd .circle{background-color: #f14b57;}
.bg_slider .slider li.cc_4th .circle{background-color: #cbee4c;}
.bg_slider .slider li.cc_5th .circle{background-color: #ff4b4c;}
.bg_slider .slider li .txtWrap h2{
	font-size:2.5em;padding-bottom: 30px;}
.bg_slider .slider li .txtWrap .line{
	width: 30px;height: 2px; 
	margin: 10px 0;
}
.bg_slider .slider li.cc_1st .txtWrap .line{background-color: #278dd5;}
.bg_slider .slider li.cc_2nd .txtWrap .line{background-color: #feec4e;}
.bg_slider .slider li.cc_3rd .txtWrap .line{background-color: #f14b57;}
.bg_slider .slider li.cc_4th .txtWrap .line{background-color: #cbee4c;}
.bg_slider .slider li.cc_5th .txtWrap .line{background-color: #ff4b4c;}



header#main_hd .main_menu{
	width: 100%; position: absolute;top:15px; 
}

#main_hd .main_menu .gnb_wrap{margin:0 auto;
	position: relative;
	width: 1260px;height: 70px;
	}
#main_hd .gnb_wrap h1{cursor: pointer;
	width: 150px;line-height:70px;text-indent:-9999px; 
	background: url(../images/main/logo_pc.png)no-repeat center; }
#main_hd .gnb_wrap .gnb{}
#main_hd .gnb_wrap .gnb ul{
	position: absolute;right:100px; top:50%;margin-top:-10px;}
#main_hd .gnb_wrap .gnb ul li{float: left;}
#main_hd .gnb_wrap .gnb ul li a{
	padding-right: 50px;
	color:#000; font-weight: bold;
	}

.lang_select{
	position: absolute; right:0;top:50%; margin-top:-16px;
	
}
.lang_select a{float: left; margin-right:3px; text-align:center;
	font-weight: bold; line-height: 28px; font-size:0.8em;}
.lang_select a:hover p{width: 40px; height: 32px; color:#fff;background-color: #ed1c24;}
.lang_select a>p:nth-child(1){
	width: 40px; height: 32px; border: 2px solid #ed1c24;}



/*section*/
section#sec_wrap{width: 1260px;
	position: absolute; left:50%;bottom:50px;
	margin-left:-630px;
}
section#sec_wrap .container_wrap{
	width: 1260px; margin:0 auto;}
.container_wrap>ul{}
.container_wrap>ul>li{float: left;
	width:25%;height: 315px;
	_border: 1px solid #000;}

.container_wrap>ul>li:nth-child(2n){
	_background-color: #f00;
}


.container_wrap>ul>li .card{
	width: 100%; height: 315px;
	text-align:center;
	padding-top: 80px;color:#413d3e; font-weight: bold
}
.container_wrap>ul>li .card img{margin:0 auto;}

.container_wrap>ul>li .card.card-double{width: 210px !important;}
.container_wrap>ul>li.vidoes .card{background-image: url(../images/main/supercon.jpg);}
.container_wrap>ul>li.vidoes .card a{
	display: block;position: relative;top:25%;
}



.container_wrap>ul>li:nth-child(1){background-color: #fff;}
.container_wrap>ul>li:nth-child(2){background-color: #7682E8;}
.container_wrap>ul>li:nth-child(3){background-color: #76BEE8;}
.container_wrap>ul>li:nth-child(4){background-color: #82F2FF;}
.container_wrap>ul>li:nth-child(5){background-color: #9782FF;}
.container_wrap>ul>li:nth-child(6){background-color: #FF70AD;}
.container_wrap>ul>li:nth-child(7){background-color: #FF937E;}
.container_wrap>ul>li:nth-child(8){background-color: #FFE645;}
.container_wrap>ul>li:nth-child(9){background-color: #E861B4;}
.container_wrap>ul>li:nth-child(10){background-color: #F66BFF;}
.container_wrap>ul>li:nth-child(11){background-color: #65FF5D;}

.container_wrap>ul>li.double{width: 50% !important; }
.container_wrap>ul>li .card.card-double{
	text-align:left !important;}
.hdouble{height: 630px !important;}

/*width*/
.pl20{padding-left: 20px !important;}
.pl40{padding-left: 40px !important;}

