@charset "utf-8";
/*반응형 스타일*/

@media (max-width:1599px){

	header{width: 100%;height: 80px;position: static;}
	.header-frame{width: 100%;height: 100%;position: relative; text-align: right;}
	.header-frame .logo{position: absolute;left:20px; top:20px; padding: 0;}
	.header-frame .logo img{width: 40px; height: auto;}

	nav{text-align: right; }
	nav>ul{width: 700px; display: inline-block;}
	nav>ul>li{padding: 0 30px;float: left;}
	nav>ul>li>a{display: block;color:#555555; font-weight: bold; line-height: 80px;}
	nav>ul>li:nth-child(odd) i{font-style: italic;}

	.link{width: 100%;text-align: right; bottom: auto; top: 28px;}
	.link>ul{padding-right: 20px;}
	.link>ul>li{display: inline-block;}
	.link>ul>li>a{display: block;}



	section#cont_part{width: 100%;margin-left:0px;}
	#cont_part .tell{display: none;}
	.cont-box .txt p.txt_title{font-style: normal; }
	.cont-box .txt p{font-size:12px; font-style: italic;padding-bottom:5px;}
	.footer{background: #333333; line-height: 40px; color:#fff; font-size:12px; 
		text-align:center;font-family:'Poiret One','Nanum Gothic', cursive;}


	


	/*header{width: 100%; height: 60px;position:relative; box-shadow:none;}
	.logo{position: absolute;left:20px; width: auto; padding:10px 0; }
	.logo img{width: 115px;}
	nav{text-align:center;}
	nav>ul{font-size:0;}
	nav>ul>li{display: inline-block; padding: 0 18px; border:none;}
	nav>ul>li:first-child{border-top:none;}
	nav>ul>li>a{border-bottom: 4px solid transparent; line-height: 56px;}
	nav>ul>li:hover>a{background: transparent; box-shadow: none; color:#fff; border-bottom: 4px solid #fff;}
	.link{width: auto; right:20px; }
	.link p{display: none;}
	.link>ul>li>a>img{height: 24px; padding-top:4px;}
	article{width: 100%; margin:0;}
	.cont-box .rgba .table .text-box p:nth-of-type(2){display: none;}*/

}