@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Poiret+One&display=swap');

*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
box-sizing: border-box;}
html, body{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; }
header, section, article, aside, nav, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, footer:after{content:"";display: block;clear: both;}
ul, ol{margin: 0; padding: 0;list-style: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration:none;}
.clear{clear: both;}
.txt_title{font-family: 'Poiret One','Nanum Gothic', cursive;}

/*header*/
header{width: 300px;height: 100%;position: fixed;}
.header-frame{width: 100%;height: 100%; position: relative;}
.header-frame .logo{ padding: 80px; text-align: center;}
.header-frame .logo img{width: auto;height: 150px;}

nav{}
nav>ul{}
nav>ul>li{padding: 15px 100px;}
nav>ul>li>a{color:#555555; font-weight: bold;}

.link{width: 100%;text-align: center;position: absolute; bottom:20px;}
.link>ul{}
.link>ul>li{display: inline-block;}
.link>ul>li>a{}


section#cont_part{width: -webkit-calc(100% - 300px); width: -moz-calc(100% - 300px);width: calc(100% - 300px); 
	margin-left:300px; }

#cont_part .tell{background: #333333; line-height: 40px; color:#fff; font-size:12px; padding-left:40px;}
#cont_part article{width: 100%;height: auto;background: #ccc; }
.cont-box{width: 20%;height: 250px; float: left;background-size: cover; 
	background-repeat:no-repeat;  background-position: 50% 50%;}
.cont-box .txt{padding: 45px}
.cont-box .txt p.txt_title{font-size:28px; padding-bottom:10px; }
.cont-box .txt p{font-size:14px; padding-bottom:5px;}
.cont-03 .txt, .cont-09 .txt{color:#fff;}

.cont-01{width: 60%;height:500px; background-image: url('../img/pic1.jpg');}
.cont-02{width: 40%;height:250px; background:#fff;}
.cont-03{width: 20%;height:250px; background:#6dcff6;position: relative;overflow: hidden;}
.cont-03 i{font-size:180px; color:#fff;position: absolute;right: -30px;bottom: -30px; 
	animation:circling 3s infinite linear; }
@keyframes circling{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
.cont-04{width: 20%;height:250px; background-image: url('../img/pic2.jpg');}
.cont-05{width: 20%;height:250px; background-image: url('../img/pic5.jpg');}
.cont-06{width: 40%;height:250px; background:#fff;}
.cont-07{width: 20%;height:250px; background-image: url('../img/pic13.jpg');}
.cont-08{width: 20%;height:250px; background:#fff;}
.cont-09{width: 40%;height:250px; background:#6dcff6; position: relative;overflow: hidden;}
.cont-09 i{font-size:200px; color:#fff;position: absolute;right: -200px;bottom: -30px; transition: 1s;}
.cont-09:hover i{position: absolute;right: -5px;bottom: -30px; }
.cont-10{width: 20%;height:250px; background-image: url('../img/pic10.jpg');}
.cont-11{width: 20%;height:250px; background:#fff;}
.cont-12{width: 20%;height:250px; background-image: url('../img/pic11.png');}

.footer{background: #333333; line-height: 40px; color:#fff; font-size:12px; padding-left:40px;font-family:'Poiret One','Nanum Gothic', cursive;}

